{% load static %}
<html>
<head>
    <title> avodha</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--    <style>-->
<!--        body{-->
<!--        background-color:lightblue;-->
<!--        }-->
<!--    </style>-->
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
    <!-- Image and text -->
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    Online shop
  </a>
</nav>
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
